name: Run Bot (scheduled)

on:
  schedule:
    - cron: "30 15 * * 1-5" 
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Install system dependencies for matplotlib
        run: |
          sudo apt-get update
          sudo apt-get install -y libfreetype6-dev libpng-dev

      - name: Run
        run: python smartmoneyaspng.py
